{
  "plugins": [
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "root": ["."],
        "extensions": [".jsx",".js", ".ios.js", ".android.js"],
        "alias": {
          "screens": "./src/screens"
        }
      }
    ]
  ]
}
